.App {
  text-align: center;
  background-color: black;
  color: white;
}

.App-header {
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.homeb {
  background-image: linear-gradient(to bottom, rgba(58, 48, 48, 0.675), rgba(239, 231, 231, 0.172)), 
  url(../public/img/home.jpg);
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}
.h1 {
   color: #DF7861;
}

.left {
  text-align: left;
 
}

.infob {
  background-image: linear-gradient(to bottom, rgba(58, 48, 48, 0.75), rgba(58, 48, 48, 0.685)), 
  url(../public/img/download.jpg);
  width: 100%;
  height: 400px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}



.me-auto {
  margin-left: 60%;
}

.link{
  text-decoration: none;
  padding: 0 5px;
  color: white;
}